<nav>
    <ul class="menu">
        <li>
            <a>@Html.ActionLink("SECRETARIA DE TURISMO", "Index", "Home")</a>
        </li>
        <li>
            <a>@Html.ActionLink("INICIO", "Index", "Home")</a>
        </li>
        <li>
            <a>@Html.ActionLink("HOSPEDAJES", "IndexHospedajes", "Negocios")</a>
        </li>
        <li>
            <a>@Html.ActionLink("COMERCIOS", "IndexComercios", "Negocios")</a>
        </li>
        <li>
            <a>@Html.ActionLink("TU VIAJE", "Hospedajes", "Home")</a>
        </li>

    </ul>

</nav>
