@model DAL.Caracteristica

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Caracteristica</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idCategoriaCaracteristicas, "idCategoriaCaracteristicas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCategoriaCaracteristicas", String.Empty)
                @Html.ValidationMessageFor(model => model.idCategoriaCaracteristicas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoCaracteristica, "idTipoCaracteristica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoCaracteristica", String.Empty)
                @Html.ValidationMessageFor(model => model.idTipoCaracteristica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
